body{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    outline: green 1px solid;
}
#main_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}