@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root{
    --main-color: #790600;
    --secondary-color: rgb(255, 148, 48);
}

*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100svw;
    height: 100svh;
}
#main_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-family: "Madimi One", sans-serif;
}
#socials{
    position: fixed;
    top: 0;
    left: 0;
    height: 97vh;
    width: 100px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin: 1.5vh;
}
#socials_options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#socials_options div{
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}
#socials_options img{
    max-width: 60px;
}
#avatar{
    position: fixed;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: var(--main-color);
    border-radius: 15px;
    margin: 1.5vh;
}
#avatar_img{
    display: flex;
    justify-content: center;
}
#avatar img{
    max-width: 100px;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    #main_text{
        font-size: 10vh;
    }

    #socials{
        height: 10vh;
        width: 97vw;
        margin: 1.5vw;
        border-radius: 10px;
    }
    #socials_options{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    #socials_options div{
        margin-top: 5px;
        padding: 6px;
        background-color: white;
        border-radius: 10px;
    }
    #socials_options img{
        max-width: 6vh;
    }
    #github, #Ko-fi, #Reddit{
        margin-left: 5px;
    }
    #mail{
        margin-left: 36vw;
    }

    #avatar{
        position: fixed;
        bottom: 0;
        right: 0;
        height: 10vh;
        width: 10vh;
    }
    #avatar img{
        max-width: 10vh;
    }
}

@media screen and (min-width: 600px) {
    #avatar{
        position: fixed;
        top: 0;
        right: 0;
    }

    #github, #Ko-fi, #Reddit{
        margin-top: 5px;
    }
    #mail{
        margin-top: 36vh;
    }
}